.sidebar {
    background: #C4D9EF;
    font-size: 16px;
    line-height: 25px;
    padding-top: 24px;
    font-weight: 400;
    display: flex;
    height: calc(100vh - 88px);
}
.sidebar .p-menuitem-link:focus .p-menuitem-text,
.sidebar .p-menuitem-link:hover .p-menuitem-text {
    color:#0069D9 !important;
}

.sidebar .p-menuitem-link:hover{
    background-color: #93BDEA !important;
    color: red;
}

.sidebar .p-menuitem-link:focus {
    background-color: #93BDEA !important;
    font-weight: 700 !important;
    margin-left: 0px !important;
}   

.sidebar .p-menuitem-link:active {
    background-color: #93BDEA !important;
    font-weight: 700 !important;
    margin-left: 0px !important;
}

.sidebar .p-menu-list {
    width: 100vh;
}