
.navbar-size{
    height: 88px;
    background: #0069D9;
}

.dashboard-logo {
    height: 40px;
    width: 37px;
}

.dashboard-logo-text{
    padding-left: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}