.home .home-category-title {
    line-height: 14px;
    padding-top: 20px;
}

.home .card {
    width: 200px;
    height: 200px;
    background-color: #f8f8f8;
    cursor: pointer;
}

@media screen and (min-width: 592) {
    .home .figure-img {
        width: 96px !important;
        height: 93px;
    }
}


.disabled {
    pointer-events: none;
    opacity: 0.5;
}